.navbar {
    color: white;
    background-color:lightcoral;
    background-image: url(./assets/header-large.jpg);
    background-size: 900px;
}

.nav-link:hover {
    color : cyan !important;
}
.nav-link:active {
    color : white !important;
}



a:hover {
    color : cyan !important;
}

a {
    color: white;
    padding:.5rem;
    font-size: 1rem;
    
  }

main {
    font-family: Montserrat;
    color: white;
    background-color: white;
}

.card-text {
    background-color: lightgray;
        /* opacity: 80%;  #120039*/
}

.card-img-overlay {
    padding-top: 80%;
    padding-right:0%;
    padding-left:0%;
}

.card-footer {
    background-color: lightcoral;
    opacity: 100%;
}

p {
    padding: 5px;
    color: #120039;
    font-size: 1rem;
}

button {
    color:#120039;
    background-color: lightcoral;
}

h1 {
    color:#120039;
}